<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <p>{{1 + 6}}</p>
<hr>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p><strong>{{greeting}}</strong> world!</p>
<hr>
    <div ng-controller="helloController">
      <h2>Hello, {{hello.title}}!</h2>
    </div>
<hr>
    <input type="text" ng-model="name" ng-init="name = 'BoJack'" placeholder="What is your name?">
    <h1>My name is: {{name}}</h1>
<hr>
    <select ng-model="animal">
      <option value="">--Please select--</option>
      <option>Dogs</option>
      <option>Cats</option>
      <option>Dogs and Cats</option>
      <option>Neither</option>
    </select>
    <h3>I love {{animal}}</h3>
<hr>
    <ul>
      <li>1 + 2 = {{1 + 2}}</li>
      <li>My name is {{"BoJack" + " Horseman"}}</li>
      <li>The array [99,43,22] is {{ [99,43,22].length }} items long.</li>
    </ul>
<hr>
    <h4>{{3.14159265359 | currency: '€'}}</h4>
<hr>
    <h2>Please say something</h2>
    <input type="text" ng-model="phrase" placeholder="Please input here">
    <h4>Yelling: {{phrase | uppercase}}</h4>
    <h4>Whispering: {{phrase | lowercase}}</h4>
<hr>
    <ul>
      <li>{{3.14159265359 | number: 3}}</li>
      <li>{{3.14159265359 | number: 6}}</li>
      <li>{{3.14159265359 | number: 1}}</li>
    </ul>
<hr>
    <h3>How many digits of pi do you want?</h3>
    <select ng-model="pi">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <h3><ng-pluralize count="pi"
      when="{'1': 'Here you go! The first digit of pi!', 'other': 'The first {} digits of pi!'}">
    </ng-pluralize></h3>
    <h3>{{3.14159265359 | number: pi}}</h3>
<hr>
    <h1>Super Useful Tip Calculator</h1>
    <p>How much did your meal cost?</p><input type="text" ng-model="meal" placeholder="Enter amount..">
    <p>How much do you want to tip?</p>

    <select ng-model="tip">
      <option value=".10">10%</option>
      <option value=".15">15%</option>
      <option value=".20">20%</option>
    </select>

    <h3>Subtotal: {{meal | currency}}</h3>
    <h3>Tip: {{meal * tip | currency}}</h3>
<hr>
    
    

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
  </body>
</html>
