<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Angular Repeat</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <p>{{1 + 6}}</p>
<hr>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p><strong>{{greeting}}</strong> world!</p>
<hr>
    <div ng-controller="helloController">
      <h2>Hello, {{hello.title}}!</h2>
    </div>
<hr>
    <input type="text" ng-model="name" ng-init="name = 'BoJack'" placeholder="What is your name?">
    <h1>My name is: {{name}}</h1>
<hr>
    <select ng-model="animal">
      <option value="">--Please select--</option>
      <option>Dogs</option>
      <option>Cats</option>
      <option>Dogs and Cats</option>
      <option>Neither</option>
    </select>
    <h3>I love {{animal}}</h3>
<hr>
    <ul>
      <li>1 + 2 = {{1 + 2}}</li>
      <li>My name is {{"BoJack" + " Horseman"}}</li>
      <li>The array [99,43,22] is {{ [99,43,22].length }} items long.</li>
    </ul>
<hr>
    <h4>{{3.14159265359 | currency: '€'}}</h4>
<hr>
    <h2>Please say something</h2>
    <input type="text" ng-model="phrase" placeholder="Please input here">
    <h4>Yelling: {{phrase | uppercase}}</h4>
    <h4>Whispering: {{phrase | lowercase}}</h4>
<hr>
    <ul>
      <li>{{3.14159265359 | number: 3}}</li>
      <li>{{3.14159265359 | number: 6}}</li>
      <li>{{3.14159265359 | number: 1}}</li>
    </ul>
<hr>
    <h3>How many digits of pi do you want?</h3>
    <select ng-model="pi">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <h3><ng-pluralize count="pi"
      when="{'1': 'Here you go! The first digit of pi!', 'other': 'The first {} digits of pi!'}">
    </ng-pluralize></h3>
    <h3>{{3.14159265359 | number: pi}}</h3>
<hr>
    <h1>Super Useful Tip Calculator</h1>
    <p>How much did your meal cost?</p><input type="text" ng-model="meal" placeholder="Enter amount..">
    <p>How much do you want to tip?</p>

    <select ng-model="tip">
      <option value=".10">10%</option>
      <option value=".15">15%</option>
      <option value=".20">20%</option>
    </select>

    <h3>Subtotal: {{meal | currency}}</h3>
    <h3>Tip: {{meal * tip | currency}}</h3>
<hr>
    <div ng-controller="madlibsController">
      <form>
        <div class="form-group">
          <label for="boyName">Boy's Name</label>
          <input type="text" ng-model="madlibs.boyName" placeholder="Enter a boy's name..">
        </div>
        <div class="form-group">
          <label for="adjective">Adjective</label>
          <input type="text" ng-model="madlibs.adjective" placeholder="Enter an adjective..">
        </div>
        <div class="form-group">
          <label for="pluralNoun">Enter a plural noun..</label>
          <input type="text" ng-model="madlibs.pluralNoun" placeholder="Enter a plural noun..">
        </div>
        <div class="form-group">
          <label for="insect">An insect, plural</label>
          <input type="text" ng-model="madlibs.insect" placeholder="Enter an insect, plural..">
        </div>
        <div class="form-group">
          <label for="pNoun">Plural noun</label>
          <input type="text" ng-model="madlibs.pNoun" placeholder="Enter a plural noun..">
        </div>
         <div class="form-group">
          <label for="verb">A verb ending in "s"</label>
          <input type="text" ng-model="madlibs.verb" placeholder="Enter a verb ending in "s"..">
        </div>
        <button type="submit" class="btn btn-lg btn-danger">Generate!</button>
      </form>
      <br><br>
      <h1>Mad with the Libs</h1>
      <h3>I'm in love with <strong>{{madlibs.boyName | uppercase}}</strong>. He's so <strong>{{madlibs.adjective | uppercase}}</strong>! He has big flat <strong>{{madlibs.pluralNoun | uppercase}}</strong>, and when our <strong>{{madlibs.insect | uppercase}}</strong> meet, I get <strong>{{madlibs.pNoun | uppercase}}</strong> in my stomach. I've fallen for him like a ton of <strong>{{madlibs.verb | uppercase}}</strong>, and he shuffles for me, too. But I think he's got another girlfriend. What should I do?</h3>
      <button type="submit" class="btn btn-lg btn-danger" ng-click="madlibs = ''">Play Again?</button>
    </div>
    

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
  </body>
</html>
